footer.footer
    .footer__content
        .footer__logo
            img.footer__logo-img(src=content.footer.logo, alt=content.footer.alt)
        .footer__text
            span.footer__contacts= content.footer.tel
            span.footer__contacts= content.footer.facs
            span.footer__contacts= content.footer.mail